@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    font-size: calc(.7vw + .6vh);
}

/* html, body {
    margin: 0;
    overflow: hidden;
} */

body {
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    background: radial-gradient(circle, #ffd502, #dc36f9);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    padding: 1rem;
}

.hero {
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1rem;
    width: 50%;
}

.landing {
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
flex: 1; /*у родителя лендинга должен быть флекс тоже */
gap: 2rem;
}

.landing__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 3rem;
}

.hero-img {
    width: 40rem;
    display: flex;
}

.boom{
    width: 12rem;
    position: absolute;
    right: -4rem;
    top: -5rem;
}

.imgpart1 {
    padding-top: 5rem;
    width: 90%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgpart2 {
    width: 100%;
}

.bomb {
    width:100%;
    margin-left: -100%;
    z-index: -1;
    position: relative;
}

.landing__button{
    font-size: 3rem;
    background: #9d5cc3;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

li {
    display: flex;
}

ul li::after {
    content: "";
    display: block;
    margin-left: 1rem;
    width: 0.3rem;
    height: 80%;
    border-radius: 0.3rem;
    background-color: var(--color-white);
}

li img {
    width: 100%;
}

header li {
    align-items: center;
}

li button {
    display: flex;
    align-items: center;
}
li div {
    width: 4rem;
    display: flex;
}

main {
    flex-direction: column;
    align-items: center;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media screen and (min-width: 768px) {
    .hero-img {
        width: 30rem;
    }
    }